.radiusIcon{
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 6px solid #FF5951;
}
.intervalLine{
    height: 2px;
    background-color: #cdcdcd;
    font-size: 0;
    line-height: 0;
}

.detailed{
    background-color: #fff;
    border-radius:24px;

}
.detailedTitle{
    font-size: 50px;
}
.detailedList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grayLine{
    height: 2px;
    background-color: #f3f3f3;
    font-size: 0;
    line-height: 0;
}
